target/**
/target
.settings/**
.classpath
.project
Moc.exe
/res/config.properties
/upload/tmp/**
/res/node_modules/**

/src/main/java/log4j.properties

/gui/moc_gui-win32-ia32/**
/gui/moc_gui-win32-x64/**
/gui/moc_gui-linux-x64/**
/gui/node_modules/**

/logs/error.log*
/logs/info.log*
