<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加设备到分组</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="input-group-name">分组：</label>
            <select class="form-control" ng-model="selected_group_obj" ng-options="group.name for group in groups">
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="addDeviceToGroup(selected_group_obj,selected_devices)">添加</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->