<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改分组</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="input-group-name">组名称：</label>
            <input type="text" class="form-control" id="input-group-name" placeholder="组名称" ng-model="input_group_name"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="modifyGroup(selected_group_id,input_group_name)">修改</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->