.app-content{
	min-height: 500px;
}

#device_canvas{
	border: 1px solid #ccc;border-radius:5px;background:#000;
	cursor: default
}

.screen_item_canvas{
    border: 2px solid #D4D4D4;
    border-radius: 5px;
    background: #000;
    cursor: default;
    box-shadow: 2px 2px 2px #888888;
}

.dashboard_device_id{
	background: rgba(0,0,0,0.5);
    color: #fff;
    margin-top: -21px;
    text-align: center;
    border-radius: 5px;
    padding: 1px;
}

.thumbnail{
	display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.device_screen_box{
    margin-bottom:25px;
}

.device_screen_box .btn-plus{
     
}